Click==7.0
Flask==1.0.2
-e git+https://github.com/edward01/heroku_test.git@2883349cfb2b6cfa3a15d89723b3cdef282deec2#egg=flaskr
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
python-dotenv==0.10.1
waitress==1.2.1
Werkzeug==0.14.1
